<?xml version="1.0"?>
<robot name="GOCATOR" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="Gocator/Black">
        <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <!-- Just the bounding box of the gocator -->
    <xacro:macro name="GOCATOR-3520" params="parent name *origin">
        <joint name="${parent}_${name}_anchor" type="fixed">
            <parent link="${parent}" />
            <child link="${name}" />
        </joint>

        <link name="${name}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://gocator_interface/urdf/GOCATOR-3520.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Gocator/Black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://gocator_interface/urdf/GOCATOR-3520.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
        
        <joint name="${name}_point_cloud_anchor" type="fixed" >
            <parent link="${name}"/>
            <child link="${name}_point_cloud"/>
            <origin xyz="0 0 0.167" rpy="0 0 0"/>
        </joint>       

        <link name="${name}_point_cloud"/>
            
        <gazebo reference="${name}">
            <static>true</static>
        </gazebo>
    </xacro:macro>
   <link name="world" />
  <xacro:GOCATOR-3520 parent="world" name="gocator">
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </xacro:GOCATOR-3520>
</robot>