<?xml version="1.0"?>
<robot name="GOCATOR" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <material name="Gocator/Black">
        <color rgba="0.1 0.1 0.1 1.0"/>
    </material>

    <!-- Just the bounding box of the gocator -->
    <xacro:macro name="GOCATOR-3520" params="parent name *origin">
        <joint name="${parent}_${name}_anchor" type="fixed">
            <parent link="${parent}" />
            <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://gocator_interface/urdf/GOCATOR-3520.stl" scale="0.001 0.001 0.001"/>
                </geometry>
                <material name="Gocator/Black"/>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://gocator_interface/urdf/GOCATOR-3520.stl" scale="0.001 0.001 0.001"/>
                </geometry>
            </collision>
        </link>
        
        <joint name="${name}_point_cloud_anchor" type="fixed" >
            <parent link="${name}_link"/>
            <child link="${name}_point_cloud"/>
            <origin xyz="0 0 ${0.075+0.203+0.167}" rpy="3.141592 0 1.570796"/>
        </joint>

        <link name="${name}_point_cloud"/>
            
        <gazebo reference="GOCATOR-3520">
            <static>true</static>
        </gazebo>
    </xacro:macro>
</robot>